html, body {
  margin: 0;
  height: 100%;
}

body {
  /* Animated gradient background */
  background: linear-gradient(45deg, #7fc4ff, #daf1ff, #ffb6c1);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#bgCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
}
