{% extends "components/modal_base.html" %} {% import
"components/form_macros.html" as F %} {% set form_id = "printerEditForm" %} {%
set submit_text = "Kaydet" %} {% block modal_id %}printerEditModal{% endblock %}
{% block modal_theme %}purple{% endblock %} {% block modal_eyebrow %}YAZICI
YÖNETİMİ{% endblock %} {% block modal_title %}Yazıcı Bilgilerini Güncelleyin{%
endblock %} {% block modal_subtitle %}Envanterde kayıtlı yazıcının temel
yapılandırmasını güncelleyin.{% endblock %} {% block modal_body %}
<form
  id="{{ form_id }}"
  class="form-grid"
  method="post"
  action="/printers/{{ printer.id }}/update"
>
  {{ F.input('inventory_no','Envanter No','text', printer.inventory_no, True) }}
  {{ F.select('brand_id','Yazıcı Markası', brands, value=printer.brand_id,
  required=True) }} {{ F.select('model_id','Yazıcı Modeli', models,
  value=printer.model_id, hint='Model listesi seçilen markaya göre
  filtrelenir.') }} {{ F.select('usage_area_id','Kullanım Alanı', usage_areas,
  value=printer.usage_area_id) }} {{ F.input('ip','IP Adresi','text',printer.ip)
  }} {{ F.input('mac','MAC','text',printer.mac,False,'AA:BB:CC:DD:EE:FF') }} {{
  F.input('hostname','Hostname','text',printer.hostname) }}
  <div class="col-2">
    {{ F.info('Kaydedilen bilgiler yazıcı geçmişine işlenecektir.') }}
  </div>
</form>
{% endblock %}
