{% macro modal(id, title, dialog_class="", form_attrs=None, footer=None, content_class="") -%}
<div class="modal fade" id="{{ id }}" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog {{ dialog_class }}">
    {%- if form_attrs is not none %}
    <form {{ form_attrs|xmlattr }} class="modal-content{% if content_class %} {{ content_class }}{% endif %}">
    {%- else %}
    <div class="modal-content{% if content_class %} {{ content_class }}{% endif %}">
    {%- endif %}
      <div class="modal-body">
        {{ caller() }}
      </div>
      {%- if footer %}
      <div class="modal-footer">
        {{ footer }}
      </div>
      {%- endif %}
    {%- if form_attrs is not none %}
    </form>
    {%- else %}
    </div>
    {%- endif %}
  </div>
</div>
{%- endmacro %}
